{% extends 'dashboardf/base.html' %}
{% load static %}
{% block content %}
<div class=" container p-5 mt-5 mb-5 text-center m-2 p-5">
 <div class="row ">
    <div class="col-md-3 d-flex flex-column align-items-start mt-5">
      <a href="{% url 'book' %}" class="btn btn-success w-100 mb-2">Books</a>
      <a href="{% url 'author' %}" class="btn btn-outline-warning w-100 mb-2">Authors</a>
      <a href="{% url 'category' %}" class="btn btn-outline-secondary w-100 mb-2">Books_Category</a>
      <a href="{% url 'order' %}" class="btn btn-outline-dark w-100 mb-2">Manage_Orders</a>
      <a href="" class="btn btn-outline-light text-danger w-100 mb-2">Manage_Cart</a>
    </div>

<div class=" col-md-9 border border-dark p-3"> 
  <h1 class="text">Add Book</h1>
  <form method="POST" class="p-2">
    {% csrf_token %}
     {{ form.as_p }}
  </form>
<div class="d-flex justify-content-end mb-3">
       <button class="btn btn-success mt-3 " type="submit">ADD</button>
      </div>
</div>
</div>
</div>
<link rel="stylesheet" href="{% static 'dashboard.css' %}">

{% endblock %}