
body{
background-color: #f0f0e8;
}

.text{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 15px;
text-decoration:underline red;
}
input, select{
margin: 17px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}