body{
background:#f0f0e8;

}

.shop{
font-family: 'Times New Roman', Times, serif;
font-size: 60px;
margin-top: 40px;}

.pagination-container {
  display: flex;
  justify-content: center;
  

  }
  


.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 14px;
    
}

h5{
color: peru;
}

.book-info {
    text-align: center;
}

.pagination-container {
    text-align: center;
}
.book-image{
box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
max-width: 172px;
max-height: 200px;
}
.card-link{
color: peru;
border: 1px solid peru;
padding: 2px;
border-radius: 0;
}