{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary  p-3">
      <div class="container-fluid">
     

        <a class="navbar-brand" href="{% url 'cart_page' %}"><img style="width: 70px;border-radius: 10px;" src="{% static 'images/logo.png' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
   
        <div class=" collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
              <a class="nav-link mx-2 active" aria-current="page" href="{% url 'book_list_user' %}">Books📖</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'user_author_page' %}">Authors✍🏼</a>
            </li>
            
         
            <li class="nav-item">
              <a class="nav-link mx-2" href="{% url 'about' %}">About Our Store✨</a>
            </li>
            
          <ul class="navbar-nav ms-auto d-none d-lg-inline-flex"> 
            <li class="nav-item mx-2">
              <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-google-plus-square"></i></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link text-dark h5" href="" target="blank"><i class="fab fa-facebook-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      