{% extends 'base.html' %}
{% block content %}
<div class="bg">
  <h1 class="text-center">about our store</h1>
  <h1 class="text-center">"Readers never know boredom, as books always transport them to endless worlds."</p>
</div>
<div class="about text-center">
<h3>"Get ready for an unforgettable experience in the world of reading and knowledge! Join us at our store, where shelves filled with wonderful and inspiring books await you. Discover new worlds, be filled with inspiration, and expand your mind with us. Don't miss the chance to enjoy a unique experience and fulfill your dreams through the pages of books in our store!"</h3>
<h3>📚📚📚📚📚📚📚</h3>
</div>
<style>

body{
background-color: #f0f0e8;
}
.about{
background-image: url(https://i.pinimg.com/564x/ed/17/f3/ed17f3ba2940e3f23d87b95e4728bf46.jpg);
padding: 100px;
margin: 15px;
}
h3{
color: beige;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
background-image: url(https://i.pinimg.com/564x/88/f5/92/88f59233da447b3f1e970dbb112a3102.jpg);
padding: 100px;
margin: 20px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.text-center {
color: black;
font-family: 'Times New Roman', Times, serif;
background-color: beige;

}
</style>
{% endblock %}