{% load static%}
{% block content %}
    


   <script src="https://kit.fontawesome.com/ece3175d47.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'account.css' %}">
    <title>Login</title>


<body>

    <div class="container ">
        <div class="signin-signup"> 
            <div class="signin">
                <form method="POST"  class="sign-in-form p-3">
                   {% csrf_token %}
                    <h2 class="title mt-2">Login</h2>
                    <div class="input-field" id="userlogin">
                      <i class="fa-solid fa-user"></i>
                        <input type="text"  placeholder="Username" name="username" id="username"  required>
                    </div>
                    <div class="input-field" id="userpassword">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" id="password1" required>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Login" id="btn1">Login</button>
                </form>
            </div>
            <div class="forgot">
                <form   method="post" class="forgotpassword">
                    <h4 class="title text-secondary">Forgot password?</h4>
                    <div class="forgotPassword">
                        <div class="input-field" id="Forgotemail">
                            <i class="fa-solid fa-user"></i>
                            <input type="text"  placeholder="Email" id="email" required>
                        </div>                       
                        <button type="submit" class="btn btn-outline" value="submit" id="btn2">Submit</button>
                    </div>
                </form>
            </div>
            <div class="signup" id="signup">
                
                <form  method="POST" action="{% url 'register' %}"  class="sign-up-form mt-4" id="signUpForm">
                   {% csrf_token %}
                    <h2 class="title mt-4">Sign up</h2>

                    <div class="input-fieldU" >
                        <i class="fa-solid fa-user"></i>
                        <input type="text"  placeholder="first name" id="first_name" name="first_name" onkeyup="isEmpty()" required>
                       
                    </div>
                    <div class="input-fieldU" >
                        <i class="fa-solid fa-user"></i>
                        <input type="text"  placeholder="last name" id="last" name="last_name" onkeyup="isEmpty()" required>
                    </div>
                    <div class="input-fieldU" >
                        <i class="fa-solid fa-user"></i>
                        <input type="text"  placeholder="username" id="usernmae" name="username" onkeyup="isEmpty()" required>
                    </div>
                    <div class="input-fieldU" >
                        <i class="fa-solid fa-at"></i>
                        <input type="email"  placeholder="Email" id="email" name="email" onkeyup="isEmpty()" required>
                    </div>
                   
                    <div class="input-fieldU" >
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" id="password2" name="password1" onkeyup="isEmpty()" required>
                        <br>
                    </div>

                <div class="input-fieldU" >
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" id="confirmpassword" name="password2" onkeyup="isEmpty()" required>
                    </div>
                    <button class="btn btn-info" type="submit" value="submit" id="btn2" >Sign up</button>
                </form>
            </div>
        </div>
        <!-- Animation  -->
        <div class="panels-container">      
            <div class="panel left-panel">
                <div class="content">
                    <h3>Book Store</h3>
                    <p>We are happy to have you join us at our store </p>
                    <button class="btn" id="sign-in-btn">Sign In</button>
                </div>
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Book Store</h3>
                    <p>Our store is happy to have you as our valued customers</p>
                    <button class="btn btn-danger" id="sign-up-btn" style="cursor: pointer;">Sign Up</button>
                </div>
            </div>
        </div>

    </div>
<script>
const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const container = document.querySelector(".container");

// Animation buttons
sign_up_btn.addEventListener("click", () => {
    container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
    container.classList.remove("sign-up-mode");
});


{% comment %} let signUpForm = document.getElementById('signUpForm');
signUpForm.addEventListener('submit', function(event) {
    event.preventDefault(); 
        
}); {% endcomment %}


</script>

</body>


{% endblock content %}