{% extends 'base.html' %}
{% block content %}
<div class="books_info text-center m-4 p-5 DETAILS">
  <h5 class="text-light"><strong class="text-danger">Title:</strong> {{ book.title }}</h5>
  <h5 class="text-light"><strong class="text-danger">Author:</strong> {{ book.author }}</h5>
  <h5 class="text-light"><strong class="text-danger">Genre:</strong> {{ book.genre }}</h5>
  <h5 class="text-light"><strong class="text-danger">Price:</strong> {{ book.price }}$</h5>
  <h5 class="text-light"><strong class="text-danger">Publication_year:</strong> {{ book.publication_year }}</h5>
  <h5 class="text-light"><strong class="text-danger">Category:</strong> {{ book.category.name }}</h5>
<a href="{% url 'book_list_user' %}" class="btn btn-danger mt-5"> Return </a>
</div>

<style>
.DETAILS{
background: url(https://i.pinimg.com/564x/7c/92/39/7c923953fda62bae121a11dcc35c3ac6.jpg);
}

</style>
{% endblock %}