{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="mb-5 header"> 
    <h2>Authors</h2>
</header>
<link rel="stylesheet" href="{% static 'home_author.css' %}">

<div class="container">
    <div class="row">
        {% for author in page %}
        <div class="col-md-3">
            <div class="author-card text-center">
                {% if author.image %}
                <div class="author-image" >
                    <img src="{{ author.image.url }}" alt="Author Image" class="rounded-circle" style="width: 150px; height: 100px;">
                </div>
                {% endif %}
                <div class="author-info">
                    <p class="author-name">{{ author.name }}</p>
                     {% if is_manager %}
            <a href="{% url 'update_author' author.id %}" class="card-link btn btn-secondary mb-4">Update</a>
            <a href="{% url 'delete_author' author.id %}" class="card-link btn btn-danger  mb-4">delete</a>
           {% else %}
             <a href="{% url 'author_details' author.id %}" class="btn btn-outline-danger mt-2 mb-4 p-1">More Details</a>
           {% endif%}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination-container mt-4 mb-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center ">
            {% if page.has_previous %}
            <li class="page-item"><a class="page-link bg bg-dark text-light" href="?page={{ page.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a href="#" class="page-link bg bg-dark text-light">Page {{ page.number }}</a></li>
            {% if page.has_next %}
            <li class="page-item"><a class="page-link bg bg-dark text-light" href="?page={{ page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
