{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Manage Orders</h1>
<table class="table table-striped mt-5 mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer name</th>
        <th scope="col">Order Date</th>
        <th scope="col">Book</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in page %}
      <tr>
        <td>{{order.id}}</td>
        <td><a href="{% url 'Order_Details' order.id %}">{{order.customer_name}}</a></td>
        <td>{{order.order_date}}</td>
        <td>{{ order.book.title }}</td>
        <td class="status" id="status_{{ order.id }}" data-order-id="{{ order.id }}">{{ order.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'change_status.js' %}"></script>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{page.previous_page_number}}">Previous</a></li>
          {% endif %}
          <li class="page-item"><a href="#" class="page-link">Page {{ page.number }}</a></li>
          {% if page.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>

          {% endif %}
        </ul>
      </nav>

{% endblock content %}