{% extends 'base.html' %}
{% block content %}
<div class="content-header">
  <div class="bg">
    <div class="introduction text-center p-5 m-3">
      <h1 class="text-dark">ORDERS DETAILS</h1>
      <h2 class="text-dark">Orders Details: Crafting Your Perfect Experience!</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-4 mb-5">
    <div class="books text-center">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Customer Name: {{order.customer_name}}</h5>
          <h6 class="card-title text-dark">Order Date: {{order.order_date}}</h6>
          <p class="card-title text-dark">Book: {{order.book}}</p>
          <p class="card-title text-dark">Status: {{order.status}}</p>
          <form method="post">
            {% csrf_token %}
            <select name="status" class="status-select">
              <option value="pending">Pending</option>
              <option value="shipped">Shipped</option>
              <option value="delivered">Delivered</option>
            </select>
            <button class="btn btn-warning" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
